# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc


.Rproj.user/
*.Rproj
.Rhistory
.RData
.Ruserdata

# ignore generated data
data/raw/*.csv
data/processed/*.csv

# ignore results
results/*.txt
results/*.png
results/*.csv

# keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep
!results/figures/.gitkeep